* {
    margin: 0;
    padding: 0;
    color: #354463;
    opacity: 1;
}

.display1 {
    display: none;
    
}

/* designing header */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6vh;
    margin: 6vh 13vh;
}


#site-name-d {
    width: 60vw;
    text-align: center;
    font: normal normal bold 2.75vh/4vh Helvetica;
    display: flex;
    justify-content: center;
}

#site-name {
    text-align: left;
    font: normal normal bold 2.75vh/4vh Helvetica;
    padding-right: 5vw;
}

header ul {
    list-style-type: none;
    text-align: left;
    font: normal normal 300 2vh/4vh Helvetica;
    letter-spacing: -0.14px;
}


header a {
    text-decoration: none;
}

.page-button {
    grid-column: 1/3;
}

.donate {
    width: 100%;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    border: none;
    font: normal normal bold 2.75vh/4vh Helvetica;
    opacity: 1;
}

.take-action {
    height: 50vh;
    background-color: #C1F7D5;
    padding: 15% 10%;
}

.action-names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}

.action2 {
    position: relative;
    top: -23%;
    /* Move the top of the inner div to the vertical center of the outer div */
    left: 50%;
    /* Move the left of the inner div to the horizontal center of the outer div */
    transform: translate(-50%, -50%);
    width: 25vw;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 3vh;
    padding: auto;
    margin: 0;
    background: #354463 0% 0% no-repeat padding-box;
    padding: 2% 9%;
    opacity: 1;
}

.tabs1 {
    font-weight: bold;
    font-size: 4vh;
}

.task {
    padding: 10%;
}

#do {
    width: 30vw;
    padding: 2%;
    text-align: center;
}

#slo {
    padding: 0;
    font-size: 4vh;
    margin-top: 15%;
    height: 40vh;
}

#achieve {
    position: relative;
    top: -20%;
    padding: 8%;
    padding-bottom: 0;
}

#achievements {
    height: 310vh;
}

#hunger {
    background-image: url(/assets/assets/home/did-you-know-background@3x.png);
    background-position: center;
    height: 250vh;
}

#hunger-desc {
    text-align: left;
    padding-right: 20%;
    height: 20vh;
}

.stories {
    padding: 10%;
}

.story-desc {
    margin: 10% 0;
    height: 50vh;
    padding: 10%;
    font-size: 4vh;
    text-align: center;
    background-color: #354463;
    color: white;
}

.story-desc p {
    margin: 10% 0;
    padding: 10%;
    font-size: 2vh;
    text-align: center;
    color: white;
}

#read-more {
    display: flex;
    justify-content: center;
}

#read-more button {
    width: 50%;
}

.talk {
    height: 230vh;
    padding: 10%;
    text-align: center;
    background-color: #354463;
    color: white;
}

#talk-head {
    color: #FFFFFF;
    padding: 10%;
    font-size: 7vh;
}

.talk div {
    text-align: center;
    font-size: 4vh;
    color: white;
    padding: 5%;
}

.talk div p {
    color: #FFFFFF;
    font-size: 2.5vh;
    padding: 5% 0 0 0;
}

/* stop-climate-change section */
.stop-climate-change {
    height: 100vh;
    background-image: url(/assets/assets/about-us/annie-spratt-427339-unsplash@2x.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.stop-climate-change-home {
    height: 110vh;
    background-image: url(/assets/assets/home/annie-spratt-135307-unsplash@3x.png);
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
}

.hashtag {
    height: 50%;
}

.hashtag img {
    height: 50%;
    width: 40%;
    margin: 10%;
}

.content {
    margin: 10%;
    background-color: white;
    height: 100%;
    position: relative;
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
    padding: 10%;
}

.content-heading {
    position: absolute;
    top: 0%;
    /* Move the top of the inner div to the vertical center of the outer div */
    left: 50%;
    /* Move the left of the inner div to the horizontal center of the outer div */
    transform: translate(-50%, -50%);
    color: white;
    font-weight: normal;
    font-size: 3vh;
    padding: auto;
    margin: 0;
    background: #354463 0% 0% no-repeat padding-box;
    padding: 2% 10%;
    opacity: 1;
}

.mission {
    height: 170vh;
    position: relative;
    background: #354463 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.values-heading {
    width: 10em;
    background-color: white;
    color: #354463;
    margin: auto;
    font-size: 1em;
    text-align: center;
    padding: 2%;
}

.missions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8%;
}

.missions div p {
    color: white;
}

.values-desc {
    color: white;
    text-align: center;
    margin: 10% 0;
    font-size: 3vh;
    font-weight: bold;
}

.team {
    height: 150vh;
    position: relative;
    background: white 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
}

.team-heading {
    width: 10em;
    color: white;
    background-color: #354463;
    margin: auto;
    font-size: 1em;
    text-align: center;
    padding: 2%;
}

.teams-desc {
    color: #354463;
    text-align: center;
    margin: 10% 0;
    font-size: 3vh;
    font-weight: bold;
}

.teams {
    padding-left: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8%;
    justify-items: center;
}

.team-name {
    color: white;
    background-color: #354463;
    text-align: center;
    width: 45.5%;
    position: relative;
    top: -4%;
    padding: 8%;
}

.impact-heading {
    width: 10em;
    background-color: white;
    color: #354463;
    margin: auto;
    font-size: 1em;
    text-align: center;
    padding: 2%;
}

.impact {
    height: 120vh;
    background: transparent url(/assets/assets/about-us/ian-macharia-509884-unsplash/ian-macharia-509884-unsplash@2x.png) 0% 0% no-repeat padding-box;
    background-color: #354463;
    padding: 10%;
}

.impact-desc {
    color: white;
    text-align: justify;
    margin: 10% 0;
    font-size: 4.4vh;
    font-weight: bold;
}

.impacts {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.impacts div {
    color: white;
    text-align: center;
    font: normal normal normal 8vh/8vh Flood Std;
}

.impacts div p {
    color: white;
    font: normal normal bold 3vh/3vh Helvetica;
}

.future {
    height: 140vh;
    background-color: #354463;
    padding: 10%;
}

.future-content {
    height: 70%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slogan {
    height: 30%;
    color: white;
    text-align: center;
    font: normal normal normal 7vh/7vh Flood Std;
    padding: 10% 20%;
    padding-bottom: 0%;
}

.future-image {
    height: 30%;
    grid-column: 1/3;
}

.future-desc {
    grid-column: 1/3;
    padding: 10%;
}

#f1 {
    text-align: center;
    font: normal normal bold 4vh/4vh Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

#f2 {
    text-align: center;
    margin: 7%;
    font: normal normal normal 2.5vh/2.5vh Helvetica;
}

.read {
    width: 50%;
}

.read1 {
    display: flex;
    justify-content: center;
}

.issue-year {
    position: relative;
    width: 10%;
    top: 5vh;
    /* Move the top of the inner div to the vertical center of the outer div */
    left: 50%;
    /* Move the left of the inner div to the horizontal center of the outer div */
    transform: translate(-50%, -50%);
    color: #354463;
    font-weight: normal;
    font-size: 3vh;
    padding: auto;
    margin: 0;
    background: white 0% 0% no-repeat padding-box;
    padding: 2% 10%;
    opacity: 1;
}

.subscribe {
    height: 25vh;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    padding: 10%;
}

#subscribe {
    text-align: left;
    font: normal normal bold 3vh/3vh Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.emails {
    margin-top: 10%;
}

.emails input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 2vh;
    width: 50%;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 2vh;
}

.emails button {
    width: 35%;
    height: 3.5vh;
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    color: white;
    border: none;
    font-size: 2vh;
}

footer {
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10vh;
}

#stop-change {
    text-align: center;
    font: normal normal normal 7vh/7vh Flood Std;
    letter-spacing: 0px;
    color: #354463;
    grid-column: 2/3;
    padding-right: 5%;
}

footer div ul {
    list-style-type: none;
}

.form {
    background-image: url(/assets/assets/donation/annie-spratt-427340-unsplash@2x.png);
    height: 220vh;
    background-size: cover;
    padding: 10%;
}

form,
label,
input {
    color: white;
    border: none;
    margin: 5% 0;
    padding: 3%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form>input {
    background-color: #354463;
    border-bottom: 2px solid #C1F7D5;
    width: 90%;
}

.form-content {
    padding: 10%;
    height: 180vh;
    background-color: #354463;
}

.form-content h1,
h2 {
    color: white;
}

#street-address {
    grid-column: 1/3;
    width: 95%;
}

#state-zip input {
    background-color: #354463;
    border-bottom: 2px solid #C1F7D5;
    width: 45%;
}

#state-zip {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#state-zip select {
    border: none;
    background-color: #354463;
    border-bottom: 2px solid #C1F7D5;
    width: 45%;
    padding: 0;
}

#state-zip option {
    border: none;
    background-color: white;
    border-bottom: 2px solid #C1F7D5;
    width: 45%;
    padding: 0;
}

#email-add,
#ccn {
    grid-column: 1/3;
    width: 95%;
}

h1 {
    grid-column: 1/3;
}

#month-year input {

    background-color: #354463;
    border-bottom: 2px solid #C1F7D5;
    width: 45%;
}

#month-year {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.payment {
    margin-top: 25%;
}

.payment button {
    height: 10vh;
}

.form-content p a {
    color: #C1F7D5;
}

.form-content p {
    margin-top: 20%;
}

.form-heading {
    text-align: center;
    font: normal normal bold 7vh/7vh Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 5%;
}

/* media query tablets */

@media(min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header div {
        grid-column: 1/2;
    }

    header ul {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        justify-content: space-between;
        width: 40vw;
    }

    header .page-button {
        grid-column: 4/5;
    }

    header ul li {
        padding: 0;
    }

    .donate {
        height: 8vh;
        width: 13.5vw;
    }

    .stop-climate-change {
        height: 50%;
    }

    .hashtag img {
        height: 50%;
        width: 25%;
        margin: 10%;
    }

    .content-heading {
        position: absolute;
        position: absolute;
        top: 0%;
        /* Move the top of the inner div to the vertical center of the outer div */
        left: 30%;
        /* Move the left of the inner div to the horizontal center of the outer div */
        transform: translate(-50%, -50%);
        color: white;
        font-weight: normal;
        font-size: 3vh;
        padding: auto;
        margin: 0;
        background: #354463 0% 0% no-repeat padding-box;
        padding: 2% 10%;
        opacity: 1;
    }

    .missions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8%;
    }

    .mission {
        height: 130vh;
    }

    .team {
        height: 200vh;
    }

    .our-team {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .team-heading {
        grid-column: 1/3;
        position: relative;
        left: -30%;
        top: 7vh;
    }

    .teams-desc {
        font-size: 5vh;
        width: 95vw;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .teams div img {
        width: 30vw;
        height: auto;
    }

    .team-name {
        position: relative;
        width: 80%;
        left: 10%;
    }

    .impact {
        background-size: cover;
        height: 85vh;
    }

    .impacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .confirmation {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .payment button {
        position: relative;
        width: 30vw;
        height: 5vh;
        margin: 0;
        font-size: 2vh;
        bottom: 5vh;
    }

    .form {
        height: 260vh;
    }

    .form-content {
        height: 230vh;
    }

    .action2 {
        top: -2%
    }

    .take-action {
        height: 25vh;
        padding-top: 0;
    }

    #do {
        left: 18vw;
    }

    #slo {
        text-align: left;
    }

    #hunger {
        height: 160vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .hashtag {
        padding: 5%;
    }

    .hashtag img {
        height: 28vh;
        width: auto;
        margin: 0 auto;
    }

    .story-desc {
        text-align: left;
        height: 30vh;
        width: 60vw;
        position: relative;
        top: -15vh;
        left: 5vw;
    }

    .story-desc p {
        text-align: left;
        padding: 0;
    }

    .story-img {
        width: 80%;
    }

    #read-more {
        position: relative;
        left: -22vw;
        top: -11vh;
    }

    #read-more button {
        width: 25vw;
    }

    .stories {
        height: 110vh;
    }

    #talk-head {
        text-align: left;
    }

    .talk-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .talk2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .talk3 {
        grid-column: 2/3;
    }

    .talk {
        height: 155vh;
    }
}

/* media-query for desktops */
@media(min-width: 1024px) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    header div {
        grid-column: 1/2;
    }

    header ul {
        grid-column: 2/4;
        grid-row: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header ul li {
        text-align: right;
    }

    header .page-button {
        grid-column: 4/5;
    }

    .donate {

        height: 6vh;
        width: 12vw;
    }

    .stop-climate-change {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5%;
    }

    .hashtag {
        width: 50%;
    }

    .hashtag img {
        width: 80%;
        height: auto;

    }

    .content {
        width: 50%;
        position: relative;
        top: 30vh;
        z-index: 1;
    }

    .missions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 8%;
    }

    .mission {
        height: 90vh;
    }

    .values-heading {
        width: 10em;
        background-color: white;
        color: #354463;
        margin: 0 0;
        font-size: 1em;
        text-align: center;
        padding: 2%;
    }

    .team {
        height: 170vh;
    }

    .team-heading {
        position: relative;
        left: -35%;
    }

    #div-para {
        width: 70%;
        text-align: left;
        padding-left: 25%;
    }

    .teams-desc {
        width: 80vw;
        padding: 0 7.5%;
    }

    .teams {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .teams div img {
        width: 20vw;
        height: auto;
    }

    .impact {
        height: 60vh;
    }

    .impacts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .impacts div p {
        margin: 2vh;
    }

    .impact-desc {
        text-align: center;
        font-size: 7vh;
    }


    .future {
        height: 130vh;
        margin-top: 0;
    }

    .slogan {
        padding: 0;
        text-align: left;
        font-style: italic;
        width: 70%;
        height: 25vh;
    }
#next img{
width: 3vw;;
}
#next{
    width: 3vw;
    height: 4vh;
    padding: 1%;
    background-color: #c1f7d5;
    border-radius: 100%;
}
#next-button{
    display: flex;
    justify-content: space-between;
}

  .about-scroll{
    display: flex;
   justify-content: space-between;
    width: 70vw;
  }
  .display1{
    display: block;
  }

    .future-content {
        width: 58.5vh;
        height: 100vh;
    }

    .future-image img {
        height: 50vh;
        width: auto;
    }

    .issue-year {
        top: 5vh;
        left: 10vw;
    }


    .subscribe {
        height: 5vh;
        padding: 5%;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .emails {
        display: flex;
        flex-direction: row;
        margin-top: 1%;
    }

    .emails input {
        margin-top: 0;
        position: relative;
        bottom: 10%;
        margin-right: 2%;
        font-size: 2vh;
    }

    .emails button {
        font-size: 2vh;
        color: #C1F7D5;
    }

    footer {
        margin: 5%;
        display: inline-block
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #l1 {
        padding: 0 2%;
        width: 15vw;
        line-height: 3vh;
    }
.con{

    border-bottom: 2px solid #354463;
}
    #stop-change {
        font-size: 4vh;
        padding-left: 10%;
        line-height: 4vh;
    }

    #l2,
    #learn {
        margin-left: 4%;
        width: 15vw;
        line-height: 3vh;
    }

    footer a {
        text-decoration: none;
    }

    .form {
        height: 280vh;
    }

    .form-content {
        height: 250vh;
    }

    #site-name-d {
        width: 90vw;
        text-align: center;
        font: normal normal bold 2.75vh/4vh Helvetica;
        display: flex;
        justify-content: center;
    }

    .stop-climate-change-home {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
    }

    .content {
        position: relative;
        top: -10vh;
        padding: 5%;
        width: 25vw;
        height: 40vh;
        padding-bottom: 0;
    }

    .action2 {
        width: 10vw;
        height: 5vh;
        font-size: 2vh;
        padding: 1.5% 0 0 0;
    }

    .take-action {
        height: 8vh;
        padding-bottom: 9%;
    }

    .action-names {
        display: flex;
        flex-direction: row;
    }

    .desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10vh;

    }



    .future-image img {
        width: 30vw;
        height: auto;
    }

    #test {
        height: 40vh;
    }

    .future-desc {

        text-align: left;
        height: 80vh;
        width: 20vw;
    }

    #achievements {
        height: 170vh;
    }

    #hunger {
        padding: 10%;
        width: 79.3vw;
    }


    .stories {
        height: 80vh;
        display: flex;
        flex-direction: row-reverse;
    }

    .story-desc {
        width: 30vw;
        position: relative;
        top: 16vh;
    }

    #read-more {
        position: relative;
        top: 20vh;
        left: -5vw;
    }

    #read-more button {
        width: 35%;
    }

    .talk {
        height: 160vh;
    }

    #talk-head {
        padding-top: 0;
    }

    #about-content {
        height: 30vh;
        width: auto;
        text-align: left;
        position: relative;
        top: 30%;
    }

    #about-image {
        width: 100%;
    }

    #about-climate {
        height: 50vh;
    }

    .values-desc {
        text-align: left;
        font-size: 5vh;
        margin: 5% 0;
    }

}